<div class="skinny_wrapper">
	<div class="post_index">
	<h2 class="sub_title_post">Articles</h2>

	<div class="post_listing">
		<p class="date">15 December 2015</p>
		<a href="My_First_RoR_app.html" class="post highlight">My First Ruby on Rails App</a>
		<hr class="separate">
	</div>
		
	<div class="post_listing">
		<p class="date">10 October 2015</p>
		<a href="#" class="post highlight">Frustrations with Homebrew, MAMP, and setting up a Ruby on Rails Environment</a>
		<hr class="separate">
	</div>