<div class="wrapper">
		<div class="list_articles clearfix">
		<h1 class="center"><a href="articles.html" class="sub_title1 highlight">Articles</a></h1>
		<hr class="separate disappear"></hr>
				<div class="post_listing center">
					<h3><a href="#" class="article_index_title">My First Ruby App: Thoughts and Feelings</a></h3>
					<p>This Article was posted XXX ago</p>
					<hr class="separate">
				</div>
				<div class="post_listing center">
					<h3><a href="#" class="article_index_title">The way I edit CSS</a></h3>
					<p>This Article was posted XXX ago</p>
					<hr class="separate">
				</div>
				<div class="post_listing center">
					<h3><a href="#" class="article_index_title">Cool #3</a></h3>
					<p>This Article was posted XXX ago</p>
					<hr class="separate">
				</div>
			</div>
			<div class="list_projects clearfix">
		<h1 class="center"><a href="projects.html" class="sub_title2 highlight">Projects</a></h1>
		<hr class="separate disappear">
				<div class="post_listing center">
					<h3><a href="#" class="project_index_title">Pure Readit</a></h3>
					<p>This Article was posted XXX ago</p>
					<hr class="separate">
				</div>
				<div class="post_listing center">
					<h3><a href="#" class="project_index_title">Pure Readit</a></h3>
					<p>This Article was posted XXX ago</p>
					<hr class="separate">
				</div>
				<div class="post_listing center">
					<h3><a href="#" class="project_index_title">Pure Readit</a></h3>
					<p>This Article was posted XXX ago</p>
					<hr class="separate">
				</div>
			</div>
	</div>
