
/******* Page Title and Post Index *******/
.sub_title_post {
	width: 50%;
	text-align: center;
	margin-bottom: 1em;
	font-size: 2em;
	font-weight: 700;
	padding: 0em;
	margin-left: 30%;
}
.post_index {
	float: right;
}
/******* Post Listing *******/
.post_listing {
	width: 100%;
	text-align: center;

}


	
.date {
	font-size: 0.75em;
	text-align: center;
	margin:0;
	padding:0;
}

.post {
	font-size: 1.1em;
	text-decoration:none;
	color: $border;
}
	
/******* Post Show Styles *******/

.body{
	margin-left: 25%;
}

.date_post {
	font-size: 0.5em;
	text-align: center;
	margin:0;
	padding:0;
}

#post_img_div {
	margin-left: 37%;
}

.post_img { 
	width: 29em;
	height: auto;
}

.center_button {
	width:5%;
	margin: auto;
	margin-bottom: 4em;
}

.private_button {
	width: 20%;
	margin: 0.5em;
	padding: 1em;
	text-align:center;
	text-decoration:none;
	background-color: $blue;
	color: $white;
	border: 2px solid $dark;
}

@media (min-width: 1001px) and (max-width:1500px){

/******* Page Title and Post Index *******/
.sub_title_post {
	
}

.post_index {
	float: right;
}
/******* Post Listing *******/
.post_listing {
	width: 90%;

}

.separate_posts {
	margin-bottom: 2em;
}

/******* Post Show Styles *******/

.body{
	margin-left: 25%;
}

#post_img_div {
	margin-left: 42%;
}

.post_img { 
	width: 25em;
	height: auto;
}


}

@media (min-width: 641px) and (max-width: 1000px){

/******* Page Title *******/
.sub_title_post {
	border: 2px Solid $dark;
	font-size: 2em;
}
/******* Post Listing *******/
.post_listing {
	width: 100%;
}

.separate {
	margin-bottom: 1em;
}

/******* Post Show Styles *******/

.body{
	margin-left: 5%;
}

#post_img_div {
	margin-left: 22%;
}

.post_img { 
	width: 25em;
	height: auto;
}
}

/*****About Break for Tablets and Phones*****/
@media (max-width:640px) {

/******* Page Title *******/
.sub_title_post {
	border: 2px Solid $dark;
	font-size: 1.5em;
}
/******* Post Listing *******/
.post_listing {
	width: 100%;
}

.separate {
	margin-bottom: 1em;
}

/******* Post Show Styles *******/

.body{
	margin-left: 5%;
}

#post_img_div {
	margin-left: 7%;
}

.post_img { 
	width: 15em;
	height: auto;
}

.disabled {
	color: $disabled;
	&:hover {
		color: $disabled;
		background-color:$white;
	}
}
}