/******Imports and Variables*****/

@import 'normalize';
$disabled: #C0C0C0;
$grey: #999999;
$blue: #66ccff;
$white: #FFFFFF;
$test: transparent;
$test2: transparent;
$navback: #677f88;
$dark:  #394043;
$border: #2f383b;
$lightblue: #b1e1f3;
$headerskew: -3deg;

/******Whole Page Stylings at all Sizes*****/

/******Whole Page Stylings at all Sizes*****/

/******Whole Page Stylings at all Sizes*****/
* { box-sizing: border-box; 
	font-family: 'Ubuntu', sans-serif;
}

html, body {
	 max-width: 100%;
    overflow-x: hidden;
}

.wrapper {
	width: 70%;
	margin: auto;
	margin-top: 14%;
}

.skinny_wrapper {
	width: 60%;
	margin: auto;
	margin-top: 10%;
}

.separate {
	width: 2em;
	color:$dark;
}

.separate_posts {
	width: 2em;
	margin-bottom: 3em;
	color:$dark;
}

/******* Pagination *******/
.pagination:before, .pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear:both;
}

.pagination {
	text-align:center;
	margin-bottom: 3em;
		a, .previous_page, .current, .next_page {
			text-decoration: none;
			padding: 0.2em .2em;
			margin: 0 .2em;
			border-radius: 10%;
			line-height: 20px;
			background-color: $white;
			font-weight: 700;
			font-style: normal;
			color: $dark;
			&:hover{
				background: $lightblue;
				color: $white;
			}
		}
}

.current {
	background: $lightblue;
	color: $white;
}

.disabled {
	color: $disabled;
	&:hover {
		color: $disabled;
		background-color:$white;
	}
}




/******Clearfix*****/
.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix{
	float: none;
}


/******Logo*****/
.img_main{
	width:100%;
	height:auto;
	background-color: $blue;
	color:transparent;
}

/******Navigation*****/



#logo{
	width:20%;
	height:auto;
	border: 2px solid $grey;
	padding: 2%;
	float:left;
	margin: -1em 1% 1% -1em;
	padding:2em;
	/*This is just for testing and visualization*/
	background-color: $blue;
	height: auto;
}

#main-navigation .skew:before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: -96%;
  overflow: visible;
  border: 2px solid $grey;
  width: 110%;
  height: 180px;
  background: $blue;
  z-index: -1;
  -webkit-transform: skewY($headerskew);
  -moz-transform: skewY($headerskew);
  -ms-transform: skewY($headerskew);
  -o-transform: skewY($headerskew);
  transform: skewY($headerskew);
    -webkit-backface-visibility: hidden;
}
 .skew {
  
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
} 


#main-navigation {
	margin-top: 1em;
	padding: 2em 5%;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	font-size: .8em;
	width:100%;
	/*This is just for testing and visualization*/
	background-color:transparent;
	z-index: 1;
	position:relative;
}

.name{
	float:left;
	padding: 0.75em;
	margin: 1em;
	font-size: 1.1em;
	text-decoration: none;
	border: 2px solid $grey;
	margin-top: -0.9em;
	margin-left: 2em;
	color: white;
}

.nav_link{
	float:right;
	text-decoration: none;
	font-size:0.85em;
	padding: 0.75em;
	margin-top: -1em;
	border: 2px solid $grey;
	border-radius: 25%;
	margin-left: 1%;
	color: white;
	
}

.highlight_black:hover{
		color: $lightblue;
		background-color:$dark;
	}
.highlight:hover{
	color: $lightblue;
}

#sidebar {
	position:absolute;
	width:15%;
	height:100%;
	background-color: white;
	border-right: 2px solid $grey;
	margin: -1%;
}
#copyright {
	position: absolute;
	bottom: 0;
	left: 4%;
	text-align: center;
	color: $border;
	margin-left: 15%;
}

.social_media {
	position: absolute;
	bottom: 8%;
	left: 25%;
	text-align: center;
	color: $border;
	margin-left: 5%;
	letter-spacing: 0.25em;
	a{color: $border;}
}

/******* Form Stylings *******/
.form {
	width: 100%;
	margin:auto;
	margin-top: 11%;
	margin-left: 20%;
}

.text_area {
	width:80%;
	height:200px;
}

.form_button {
	width: 20%;
	padding: 1em;
	text-align: center;
	border: 2px solid $dark;
	text-decoration:none;
}

input { 
	width: 80%;
	margin-top: 1em;
	margin-bottom: 1em;
}
/******CSS for Tablet&Phone Displays*****/


/******CSS for Tablet&Phone Displays*****/


/******CSS for Tablet&Phone Displays*****/
@media (min-width:640px) and (max-width:1000px) {
* { box-sizing: border-box;}

.wrapper {
	width: 100%;
	margin: auto;
}

.skinny_wrapper {
	width: 90%;
	margin: auto;
	margin-top: 10%;
}

.highlight:hover{
		color: $lightblue;
		background-color:transparent;
		}




#logo{
	display: none;
}



#main-navigation .skew:before {
  bottom: -75%;
  height: 150px;
}



.name{

	margin: 1em;
	font-size: 1em;
	margin-top: -1em;
	margin-left: 1em;
	color: $dark;
}

.nav_link{
	font-size:0.5rem;
	font-weight: 700;
	padding: 2%;
	margin-top: -1em;
	color: $dark;
	
}

.highlight_black:hover, .highlight:hover{
		color: $lightblue;
		background-color:$dark;
	}


.disappear_small{
	display:none;
}

/******* Form Stylings *******/
.form {
	margin-top: 7%;
}
}


/******CSS for Phone Displays*****/

/******CSS for Phone Displays*****/

/******CSS for Phone Displays*****/
@media screen and (max-width:640px) {

.wrapper {
	width: 100%;
	margin:auto;
}

.skinny_wrapper {
	width: 90%;
	margin: auto;
	margin-top: 15%;
}

#logo{
	display: none;
}


#main-navigation .skew:before {
  bottom: -75%;
  height: 150px;
}



.name{
	padding: 0.70em;
	font-size: 1em;
	margin-top: -1em;
	margin-left: 1em;
	color: $dark;
}

.nav_link{
	font-size:0.6rem;
	font-weight: 700;
	padding: 2%;
	color: $dark;
	
}

 
 .highlight_black:hover, .highlight:hover{
		color: $lightblue;
		background-color:$dark;
	}


.disappear_small {
	display:none;
}

/******* Form Stylings *******/
.form {
	width: 100%;
}

input { 
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

}

@import 'index';
@import 'about';
@import 'posts';