@import 'normalize';

$disabled: #C0C0C0;
$grey: #999999;
$blue: #66ccff;
$white: #FFFFFF;
$test: transparent;
$navback: #677f88;
$dark:  #394043;
$border: #2f383b;
$lightblue: #b1e1f3;
$headerskew: -3deg;

/******Navigation*****/
/******CSS for Desktop Displays*****/
@media (min-width: 1000px) {
* { box-sizing: border-box; 
	font-family: 'Ubuntu', sans-serif;
}

html, body {
	 max-width: 100%;
    overflow-x: hidden;
}


.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix{
	float: none;
}

#logo{
	width:20%;
	height:auto;
	border: 2px solid $grey;
	padding: 2%;
	float:left;
	margin: -1em 1% 1% -1em;
	padding:2em;
	/*This is just for testing and visualization*/
	background-color: $blue;
	height: auto;
}

.img_main{
	width:100%;
	height:auto;
	background-color: $blue;
	


}

#main-navigation .skew:before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: -96%;
  overflow: visible;
  border: 2px solid $grey;
  width: 110%;
  height: 180px;
  background: $blue;
  z-index: -1;
  -webkit-transform: skewY($headerskew);
  -moz-transform: skewY($headerskew);
  -ms-transform: skewY($headerskew);
  -o-transform: skewY($headerskew);
  transform: skewY($headerskew);
    -webkit-backface-visibility: hidden;
}

 .skew {
  
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
} 

img {
	vertical-align: none;

}


#main-navigation {
	margin-top: 1em;
	padding: 2em 5%;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	font-size: .8em;
	width:100%;
	/*This is just for testing and visualization*/
	background-color:transparent;
	z-index: 1;
	position:relative;
}

.name{
	float:left;
	padding: 0.75em;
	margin: 1em;
	font-size: 1.1em;
	text-decoration: none;
	border: 2px solid $grey;
	margin-top: -0.9em;
	margin-left: 2em;
	color: white;
}

.nav_link{
	float:right;
	text-decoration: none;
	font-size:0.85em;
	padding: 0.75em;
	margin-top: -1em;
	border: 2px solid $grey;
	border-radius: 25%;
	margin-left: 1%;
	color: white;
	
}

.highlight_black:hover{
		color: $lightblue;
		background-color:$dark;
	}
.highlight:hover{
	color: $lightblue;
}

#sidebar {
	position:absolute;
	width:15%;
	height:100%;
	background-color: white;
	border-right: 2px solid $grey;
	margin: -1%;
}
#copyright {
	position: absolute;
	bottom: 0;
	left: 4%;
	text-align: center;
	color: $border;
	margin-left: 15%;
}

.social_media {
	position: absolute;
	bottom: 8%;
	left: 25%;
	text-align: center;
	color: $border;
	margin-left: 5%;
	letter-spacing: 0.25em;
	a{color: $border;}
}

}
/******CSS for Tablet&Phone Displays*****/
@media (min-width:640px) and (max-width:1000px) {
* { box-sizing: border-box;}

.highlight:hover{
		color: $lightblue;
		background-color:transparent;
		}


.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix{
	float: none;
}

#logo{
	width:2%;
	height:auto;
	padding: 0%;
	float:left;
	margin: none;
	padding:2em;
	/*This is just for testing and visualization*/
	background-color: $blue;
	height: auto;
	display: none;
}

.img_main{
	width:100%;
	height:auto;
	background-color: $blue;
	color:transparent;
	


}

#main-navigation .skew:before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: -75%;
  overflow: visible;
  border: 2px solid $grey;
  width: 110%;
  height: 150px;
  background: $blue;
  z-index: -1;
  -webkit-transform: skewY($headerskew);
  -moz-transform: skewY($headerskew);
  -ms-transform: skewY($headerskew);
  -o-transform: skewY($headerskew);
  transform: skewY($headerskew);
    -webkit-backface-visibility: hidden;
}

 .skew {
  
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
} 

img {
	vertical-align: none;

}


#main-navigation {
	margin-top: 1em;
	padding: 2em 5%;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	font-size: .8em;
	width:100%;
	/*This is just for testing and visualization*/
	background-color:transparent;
	z-index: 1;
	position:relative;
}

.name{
	float:left;
	padding: 0.75em;
	margin: 1em;
	font-size: 1em;
	text-decoration: none;
	border: 2px solid $grey;
	margin-top: -1em;
	margin-left: 1em;
	color: $dark;
}

.nav_link{
	float:right;
	text-decoration: none;
	font-size:0.5rem;
	font-weight: 700;
	padding: 2%;
	margin-top: -1em;
	border: 2px solid $grey;
	border-radius: 25%;
	margin-left: 1%;
	color: $dark;
	
}

.highlight_black:hover, .highlight:hover{
		color: $lightblue;
		background-color:$dark;
	}

#sidebar {
	position:absolute;
	width:15%;
	height:100%;
	background-color: white;
	border-right: 2px solid $grey;
	margin: -1%;
	display:none;
}
#copyright {
	position: absolute;
	bottom: 0;
	left: 4%;
	text-align: center;
	color: $border;
	margin-left: 15%;
	display:none;
}

.social_media {
	position: absolute;
	bottom: 2%;
	left: 4%;
	text-align: center;
	color: $border;
	margin-left: 15%;
	display:none;
}
}

/******CSS for Phone Displays*****/
@media screen and (max-width:640px) {
* { box-sizing: border-box;}

.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix{
	float: none;
}

#logo{
	width:2%;
	height:auto;
	padding: 0%;
	float:left;
	margin: none;
	padding:2em;
	/*This is just for testing and visualization*/
	background-color: $blue;
	height: auto;
	display: none;
}

.img_main{
	width:100%;
	height:auto;
	background-color: $blue;
	color:transparent;
	


}

#main-navigation .skew:before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: -75%;
  overflow: visible;
  border: 2px solid $grey;
  width: 110%;
  height: 150px;
  background: $blue;
  z-index: -1;
  -webkit-transform: skewY($headerskew);
  -moz-transform: skewY($headerskew);
  -ms-transform: skewY($headerskew);
  -o-transform: skewY($headerskew);
  transform: skewY($headerskew);
    -webkit-backface-visibility: hidden;
}

 .skew {
  
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
} 

img {
	vertical-align: none;

}


#main-navigation {
	margin-top: 1em;
	padding: 2em 5%;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	font-size: .8em;
	width:100%;
	/*This is just for testing and visualization*/
	background-color:transparent;
	z-index: 1;
	position:relative;
}

.name{
	float:left;
	padding: 0.70em;
	margin: 1em;
	font-size: 1em;
	text-decoration: none;
	border: 2px solid $grey;
	margin-top: -1em;
	margin-left: 1em;
	color: $dark;
}

.nav_link{
	float:right;
	text-decoration: none;
	font-size:0.6rem;
	font-weight: 700;
	padding: 2%;
	margin-top: -1em;
	border: 2px solid $grey;
	border-radius: 25%;
	margin-left: 1%;
	color: $dark;
	
}

 
 .highlight_black:hover, .highlight:hover{
		color: $lightblue;
		background-color:$dark;
	}


#sidebar {
	position:absolute;
	width:15%;
	height:100%;
	background-color: white;
	border-right: 2px solid $grey;
	margin: -1%;
	display:none;
}
#copyright {
	position: absolute;
	bottom: 0;
	left: 4%;
	text-align: center;
	color: $border;
	margin-left: 15%;
	display:none;
}

.social_media {
	position: absolute;
	bottom: 2%;
	left: 4%;
	text-align: center;
	color: $border;
	margin-left: 15%;
	display:none;
}

.disappear {
	display:none;
}


}